/*Dedicado a mesclar os estilos dos projetos*/
:root {
  --black: #404040;
  --white: #fff;
  --gray: rgba(64, 64, 64, 0.15);
  --font-courgett: "Courgette", cursive;
  --font-open-sans: "Open Sans", sans-serif;
  --font-light: 300;
}

body {
  background-color: var(--white);
  color: var(--black);
  font-family: var(--font-open-sans);
  font-family: "PT Sans", sans-serif;
}

p {
  text-align: center;
  margin: 0;
  padding-top: 10px;
  opacity: 1;
  transform: translate(0);
  transition: all 300ms linear;
  transition-delay: 1700ms;
}




